<div class="results-row">
  <div class="bar-thumb"><img src="<%= asset_path( 'example-small.jpg' ) %>" /></div>
  <div class="bar-detail">
    <h4><%= link_to bar.name, bar_path(bar) %></h4>
    <ul>
      <% bar.specials.each do |special| %>
        <% if @specials.include? special %>
          <li class="discount"><i class="fa fa-clock-o"></i>
            <%= special.duration%>
            <div class="detail"><%= special.special_details %></div>
          </li>
          <li><i class="fa fa-map-marker"></i> 300m away</li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <!--display:none does not take up space. visibility:hidden take up space. No good. Below needs to be ERB tag with bar.id-->
  <div class="bar-addremove">icon<data class="bar-id" style="display:none;"><%= bar.id %></data></div>
</div>

