<div class="results-row">
  <div class="bar-thumb"><a href="<%= bar_path(bar) %>"><img src=<%= small_image(bar) %> /></div>
  <div class="bar-detail">
    <h4><%= link_to bar.name, bar_path(bar) %></h4>
    <ul>
      <% bar.specials.each do |special| %>
        <% if @specials.include? special %>
          <li class="discount"><i class="fa fa-clock-o"></i>
            <%= special.duration%>
            <div class="detail"><%= special.special_details %></div>
          </li>
        <% end %>
      <% end %>
      <li class="distance"><i class="fa fa-map-marker"></i> 300m away</li>
    </ul>
  </div>
  <!--need bar_id for local storage state and address for geocoding and distances-->
  <div id="bar-<%= bar.id %>" class="bar-addremove" data-bar_id="<%= bar.id %>" data-address="<%= [bar.address, bar.suburb, bar.state, bar.postcode].join(' ').squeeze(' ') %>">
    <img src=<%= image_path('add.svg') %> alt=""></div>
</div>
