<!DOCTYPE html>
<html lang="en">
<head>
  <title>Happy Hour</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
         <link href=
    "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
    rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto:300,700,400' rel='stylesheet' type='text/css'>
  <meta charset="UTF-8">
</head>
<body>
  
  <div id="container">

      <div id="nav">
          <div id="logo-wrapper">
            <div id="nav-logo">
              <%= image_tag("logo-nav.png", :alt => "logo") %>
            </div>
          </div>
          <ul id="toggle">
              <p>David Boone</p>
            <li>
              <div class="active border">
                <%= link_to 'Home', root_path %>
              </div>
            </li>

            <li>
              <div>
                <a href="#">My Hops</a>
              </div>
            </li>


            <li>
              <div>
                <a href="about">About Us</a>
              </div>
            </li>

            <li>
              <div>
                <%= link_to 'Bars', bars_path %>
              </div>
            </li>
          </ul>
      </div> 

      <div id="cart">

        <h1>My Hops</h1>
          <button id="delete-all">delete all</button><br>
          <div class="saved-list">
            <ul>
              <li id='list-0' data-bar_id="0"><a href="#">I'm a dummy data</a> <button id='delete'>delete</button></li>
              <a href=""> <%= image_tag("delete.png", :alt => "delete item") %> </a>
            </ul>
            
          </div>

      </div>
  
      <div id="canvas">

        <div id="banner">
            <a href="#" class="toggle-nav" id="bars"><i class="fa fa-bars"></i></a>

          <div id="banner-img-wrapper">
            <%= link_to image_tag("logo-small-banner.png", :alt => "banner logo") %>
          </div>

            <div id="banner-cart-wrapper">
              <a href="#" class="toggle-cart"><%= image_tag("banner-cart-small.png", :alt => "cart icon") %>
              </%> <div id="cart-badge" style="display:none"></div></a>
            </div>
        </div>
        
        <div class="page">
          <%= yield %>
        </div>

      </div>
  </div>
  
</body>
</html>