<!DOCTYPE html>
<html lang="en">
<head>
  <title>Happy Hour</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
      <link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
     <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>
  
  <div id="container">
    <div id="canvas">
      <div id="nav">
        <div id="img-wrapper">
          <img src="http://placehold.it/300x300" alt="" id="nav-logo">
        </div>
        <ul id="toggle">
          <li>
            <div class="active border">
              <a href="#">Home</a>
            </div>
          </li>

          <li>
            <div>
              <a href="#">About Us</a>
            </div>
            <ul>
              <li><a href="#">The Team</a></li>
              <li><a href="#">The Site</a></li>
            </ul>
          </li>

          <li>
            <div>
              <a href="#">Contact</a>
            </div>
          </li>

          <li>
            <div>
              <a href="#">Search</a>
            </div>
          </li>
        </ul>
      </div> 
      <div id="banner">
          <a href="#" class="toggle-nav" id="bars"><i class="fa fa-bars"></i></a>
          <div id="banner-img-wrapper">
            <%= image_tag("logo-small-banner.png", :alt => "banner logo") %>
          </div>
      </div>
      <div class="page">

        <%= yield %>

      </div>

    </div>  
  </div>

  <script src="http://code.jquery.com/jquery-1.11.2.js"></script>

</body>
</html>

<%= link_to 'home', root_path %>
<%= link_to 'bars', bars_path %>

</body>
</html>
